<div class="container container-fluid main-div">
  <mat-card class="register-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Create Account with us!!</mat-card-title>
      <mat-card-subtitle>Create your account and let's get started</mat-card-subtitle>
    </mat-card-header>
    <!--Card Content-->
    <mat-card-content class="container">
      <form class="login-form" [formGroup]="registerForm">
        <!--Email-->
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="email" matInput placeholder="Email Id" autocomplete="off" formControlName="email" />
            </div>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <!--First Name-->
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="text" matInput placeholder="First Name" autocomplete="off" formControlName="firstName" />
            </div>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!--Last Name-->
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="text" matInput placeholder="Last Name" autocomplete="off" formControlName="lastName" />
            </div>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!--Gender-->
        <div class="login-form">
          <span>Gender :- </span>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="MALE">Male</mat-radio-button>
            <mat-radio-button value="FEMALE">Female</mat-radio-button>
            <mat-radio-button value="OTHERS">Others</mat-radio-button>
          </mat-radio-group>
        </div>

        <!--Password Section-->
        <div class="register-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Password" autocomplete="off" formControlName="password" />
            </div>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>

        <!--Confirm password section-->
        <div class="register-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Confirm Password" autocomplete="off"
                formControlName="confirmPassword" />
            </div>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>
        <span>Already have account!!
          <a [routerLink]="['/auth/login']" routerlinkactive="router-link-active">click here</a></span>
      </p>
      <button *ngIf="registerForm.valid" mat-flat-button color="primary" type="submit" (click)="onSubmit()">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
