<div class="container container-fluid main-div">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Please provide your identity</mat-card-title>
      <mat-card-subtitle>Lets get started</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Form starts -->
      <form class="login-form" [formGroup]="loginForm">
        <!-- Email Section -->
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input
                type="email"
                matInput
                placeholder="Email id"
                name="email"
                id="email"
                autocomplete="off"
                formControlName="email"
              />
            </div>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <!-- Password Section-->
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input
                matInput
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                formControlName="password"
              />
            </div>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </form>
      <!-- Form Ends -->
    </mat-card-content>
    <!-- Button -->
    <mat-card-actions *ngIf="loginForm.valid">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
